<template>
    <div>
        <menu-list></menu-list>
        <router-view/>
    </div>
</template>

<script>
    export default {
        components: {
            MenuList (resolve) {
                require(['./Menu.vue'], resolve);
            }
        }
    }
</script>
