<template>
    <div class="menu flex-box">
      <div class="logo"></div>
      <div class="select_menu">
        <el-select
          placeholder="Redis管理"
          v-model="redis"
          @change="clickPush">
          <el-option
            v-for="item in redisList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <el-select
          placeholder="文件管理"
          v-model="file"
          @change="clickPush">
          <el-option
            v-for="item in fileList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
    </div>
</template>

<script>
	export default {
	    data () {
	      return {
	        redis: '',
          flag: false,
          redisList: [
            {value: 'redis-index', label: 'Redis管理'},
            {value: 'redis-index2', label: 'Redis管理2'}
          ],
          file: '',
          fileList: [
            {value: 'file-index', label: '文件管理'},
            {value: 'file-index2', label: '文件管理2'}
          ],
        }
      },
      methods: {
        /**
         * 点击选择的列表 跳转至不同的页面
         */
        clickPush (val) {
          this.$router.push(val);
        },
        /**
         * 获取select下拉列表值(修复页面刷新后下拉列表值重置的BUG)
         */
        getSelectValue(url) {
            if (url.indexOf('/') !== -1) {
              url = url.replace('/', '');
              if (url !== '') {
                let s = url.split('-')[0];
                if (s === 'redis') {
                  this.redis = url;
                }
                if (s === 'file') {
                  this.file = url;
                }
              }
            }
        }
      },
      mounted() {
	      this.getSelectValue(this.$route.path);
      }
  }
</script>

