.menu {
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  border-bottom-box-shadow: 0px 0px 1px 0 #eee;
  .logo {
    background-image: url('../assets/hailong-logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 70px;
  }
  .select_menu {
    margin-top: 20px;
  }
  ul li {
    display: none;
  }
  .disa {
    display: block !important;
  }
}
.redis {
  width: 100%;
}
