* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: middle;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.el-input__inner {
  height: 35px !important;
  border: 0 !important;
}
.el-select {
  width: 130px;
  margin-right: 20px;
}
.el-select__caret {
  display: none;
}
#app {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@import './index.less';
